.navbar.navbar-inverse(role="navegation")
    .container-fluid
        .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse',data-target='.navbar-collapse')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(herf='#') NodeJs
        .navbar-collapse.collapse
            ul.nav.navbar-nav
                li.active
                    a(href='/panel') Panel
                li
                    a(href='/panel/employees/new') Nuevo Empleado
            ul.nav.navbar-nav.navbar-right
                li
                    a(href='./loguot') Logout
     