extends layout
block content
  p
    a(href="/panel/employees/new") New
  table
    tr
      th N
      th Name
      th Age
      th Options
    - employee.forEach(function(v,i){
    tr
      td=i
      td=v.nombre
      td #{v.apellido} years
      td
        a(href="/panel/employees/edit/"+v._id) Edit
        | 
        a(href="/panel/employees/delete/"+v._id) Delete
    - });